@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(0, 0, 0);
}

@keyframes gradient-xy {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
}

.animate-gradient-xy {
  animation: gradient-xy 5s ease infinite;
  background-size: 200% 200%;
}